Build/
doc/.ipynb_checkpoints/
*.gch
*.o
*.pch
*.h5
test
datasets/originals/
CMakeFiles/
CMakeCache*
Makefile
cmake_install*
\#*\#
*~
*_flymake.*
.projectile
.dir-locals.el
.directory
compile_commands.json
.vscode
GPATH
GTAGS
GRTAGS
log.txt
.ccls-cache/
FindHDFS.cmake
